/* Font Family Import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Basic CSS Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Common CSS Style */
h1, h2, h3, h4, h5 {
    font-family: "Merriweather", serif;
}

.text-primary {
    color: #52acfe;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.btn {
    border: none;
    outline: none;
    background-color: #52acfe;
    color: #fff;
    padding: 18px 50px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 2px 3px 5px #263a4f;
    border-radius: 5px;
}

.btn:hover {
    background-color: #fff;
    color: #263a4f;
}

.section-title {
    font-size: 34px;
    font-weight: 700;
    color: #263a4f;
}

.section-description {
    font-size: 18px;
    line-height: 30px;
    color: #263a4f;
    margin-top: 30px;
}

.section-line {
    border-top: 8px dotted #52acfe;
    width: 60px;
    margin: 22px auto 0px;
}

.paragraph {
    line-height: 24px;
    color: #263a4f;
}

/* Navbar Style */

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    gap: 40px;
}

.logo h2 {
    color: #263a4f;
    font-size: 38px;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav-menu li a:hover {
    color: #52acfe;
}

.nav-menu li a {
    color: #263a4f;
}

/* Hero Section Style */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(38, 58, 79, 0.5), rgba(38, 58, 79, 0.5)), url("../images/hero-bg.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0px;
}

.hero-content {
    text-align: center;
    width: 70%;
    color: #fff;
}

.hero-title {
    font-size: 90px;
    line-height: 110px;
    font-weight: 400;
}

.hero-description {
    font-size: 18px;
    margin: 40px 0px;
}

/* Welcome Section Style */
.welcome-section {
    background-color: #e5ecf3;
    padding: 80px 0px;
}

.welcome-content {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.welcome-content .section-description {
    margin-top: 30px;
}

/* Activities Section Style */
.activities-section {
    padding: 80px 0px;
}

.activities-section-head {
    text-align: center;
}

.activities-cards-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

.activities-card {
    width: 49%;
    height: 240px;
    background-color: #e5ecf3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px 30px;
    border-radius: 8px;
}

.activities-card-title {
    font-size: 26px;
    font-weight: 700;
    color: #263a4f;
    margin-bottom: 10px;
}

/* Our Guides Section Style */
.our-guides {
    padding: 100px 0px;
    background-image: url("../images/bg-1.png");
    background-position: center;
    background-size: cover;
}

.our-guides-head {
    text-align: center;
}

.our-guides-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.our-guides-card {
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 8px;
}

.our-guides-card-img {
    height: 280px;
}

.our-guides-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.guides-one {
    object-position: top;
}

.guides-two {
    object-position: 0px -65px;
}

.our-guides-social {
    display: flex;
    gap: 15px;
}

.our-guides-social li {
    border: 1px solid #263a4f;
    border-radius: 4px;
    padding: 5px;
    color: #263a4f;
    cursor: pointer;
}

.our-guides-social li:hover {
    background-color: #263a4f;
    color: #fff;
}

.our-guides-social li i {
    font-size: 25px;
}

.our-guides-card-content {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.our-guides-card-content h3 {
    font-size: 26px;
    color: #263a4f;
}

.our-guides-email {
    text-decoration: underline;
    color: #263a4f;
    font-size: 12px;
}

.our-guides-email:hover {
    text-decoration: none;
}

/* Events & Packages Section Style */
.event-package-section {
    padding: 90px 0px;
    background-image: url('../images/bg-2.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/* Event Section */
.event-section-head {
    text-align: center;
}

.events-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 50px;
}

.event-card-img {
    height: 220px;
}

.event-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-card-content {
    margin-top: 20px;
}

.event-date {
    font-size: 12px;
    color: #263a4f;
}

.event-title {
    font-size: 22px;
    color: #263a4f;
    margin: 20px 0px 30px;
    line-height: 30px;
}

.event-more {
    display: inline-block;
    margin-top: 30px;
    color: #52acfe;
    font-weight: 600;
}

/* Packages Section */

.packages-section {
    margin-top: 90px;
}

.packages-section-head {
    text-align: center;
}

.packages-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.package-card {
    text-align: center;
    padding: 40px 60px;
}

.package-card-style-one {
    background-color: #e5ecf3;
    font-family: "Noto Sans", serif;
}

.package-card-style-one h3 {
    color: #263a4f;
    font-size: 22px;
}

.package-card-style-one h4 {
    color: #52acfe;
    font-size: 18px;
    margin: 25px 0px 10px;
}

.package-card-style-two {
    background-color: #3e556c;
    color: #fff;
}

.package-card-style-two h3 {
    font-size: 22px;
}

.package-card-style-two h4 {
    color: #52acfe;
    font-size: 18px;
    margin: 25px 0px 10px;
}

.package-card-style-two .paragraph {
    color: #fff;
    font-size: 18px;
}

