/* Font Family Import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Basic CSS Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Common CSS Style */
h1, h2, h3, h4, h5 {
    font-family: "Merriweather", serif;
}

.text-primary {
    color: #52acfe;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.btn {
    border: none;
    outline: none;
    background-color: #52acfe;
    color: #fff;
    padding: 18px 50px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 2px 3px 5px #263a4f;
    border-radius: 5px;
}

.btn:hover {
    background-color: #fff;
    color: #263a4f;
}

/* Navbar Style */

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    gap: 40px;
}

.logo h2 {
    color: #263a4f;
    font-size: 38px;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav-menu li a:hover {
    color: #52acfe;
}

.nav-menu li a {
    color: #263a4f;
}

/* Hero Section Style */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(38, 58, 79, 0.5), rgba(38, 58, 79, 0.5)), url("../images/hero-bg.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0px;
}

.hero-content {
    text-align: center;
    width: 70%;
    color: #fff;
}

.hero-title {
    font-size: 90px;
    line-height: 110px;
    font-weight: 400;
}

.hero-description {
    font-size: 18px;
    margin: 40px 0px;
}