* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    padding: 20px;
    text-align: center;
    background-color: #9afc3865;
}

.logo {
    font-family: 'Courier New', Courier, monospace;
}

.logo a {
    color: #333;
}

nav {
    margin-top: 20px;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav-menu li a {
    color: #333;
    font-size: 18px;
    font-weight: 500;
}

.dropdown {
    display: none;
    background-color: #333;
    padding: 10px;
}

.dropdown li {
    margin-top: 5px;
}

.dropdown li a {
    color: #fff;
}

.nav-menu li:hover .dropdown {
    display: block;
    position: absolute;
}

/* Hero Section */

.hero-section {
    background-image: linear-gradient(to top, rgba(154, 252, 56, 0.575), rgba(154, 252, 56, 0.2)), 
    url('../media/hero-img.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-title {
    color: #333;
    font-size: 30px;
}

/* Video Section */

.section-title {
    text-align: center;
    font-size: 25px;
    color: #333;
}

.youtube-video-section,
.local-video-section {
    padding: 0px 30px;
    margin: 60px 0px;
}

.youtube-video-section-container,
.local-video-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.local-video-section-container video {
    width: 500px;
    height: 400px;
}

/* Travel Places */

.travel-place {
    padding: 0px 30px;
    text-align: center;
    margin: 100px 0px 60px;
}

.travel-place table,
.travel-place th,
.travel-place td {
    border: 2px solid #333;
    border-collapse: collapse;
}

.travel-place table {
    width: 50%;
    margin: 0 auto;
}

.travel-place table caption {
    color: #333;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}

.travel-place th,
.travel-place td {
    padding: 10px 20px;
}

/* Travel With Me */

.travel-with-me {
    margin: 100px 0px 60px;
}

.travel-with-me form {
    width: 50%;
    margin: 0 auto;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 8px;
}

.travel-with-me > form > label {
    margin-top: 20px;
    display: block;
}

.travel-with-me > form > label > input {
    width: 100%;
    padding: 10px;
    border: 2px solid #80ff00da;
    border-radius: 8px;
}

.travel-with-me fieldset {
    width: 30%;
    margin-top: 20px;
    padding: 10px;
}

.submit-btn {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #9afc3865;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

/* Footer */
footer {
    padding: 20px 0px;
    text-align: center;
    background-color: #9afc3865;
}